---
import CraftCard from "./CraftCard.astro";
import styles from "./craft-list.module.scss";
import { getCollection } from "astro:content";

const allCraftPosts = await getCollection("craft");

console.log(allCraftPosts[0].data);

// const posts = allCraftPosts.map((post) => ({
//   ...post.metadata,
//   slug: post.slug,
// }));

// // Group posts by category
// const groupedPosts = posts.reduce(
//   (acc, post) => {
//     const category = post.category || "Uncategorized";
//     if (!acc[category]) acc[category] = [];
//     acc[category].push(post);
//     return acc;
//   },
//   {} as Record<string, typeof posts>,
// );
---

<div class={styles.container}>
  <ul class={styles.list}>
    {
      allCraftPosts.map((post) => (
        <li>
          <a href={`/craft/${post.id}`}>
            <CraftCard
              heroImage={post.data.heroImage}
              title={post.data.title}
            />
          </a>
        </li>
      ))
    }
  </ul>
  <!-- {
    Object.entries(groupedPosts).map(([category, posts]) => (
      <div class={styles.list_section}>
        <h2 class={styles.section_title}>
          {category.charAt(0).toUpperCase() + category.slice(1)}
        </h2>
        <ul class={styles.list} id={`craft-list-${category}`}>
          {posts.map((post) => (
            <li>
              <a href={`/craft/${post.slug}`}>
                <CraftCard heroImage={post.heroImage} title={post.title} />
              </a>
            </li>
          ))}
        </ul>
      </div>
    ))
  } -->
</div>
