---
import DemosCard from "./DemoCard.astro";
import styles from "./demo-list.module.scss";
import { getCollection } from "astro:content";

const allDemosPosts = await getCollection("demos");

// 依據 id 的第一段分組
const groupedPosts = allDemosPosts.reduce(
  (acc, post) => {
    const [category] = post.id.split("/");
    const cat = category || "Uncategorized";
    if (!acc[cat]) acc[cat] = [];
    acc[cat].push(post);
    return acc;
  },
  {} as Record<string, typeof allDemosPosts>,
);

const base = import.meta.env.BASE_URL || "/";
---

<div class={styles.container}>
  {
    Object.entries(groupedPosts).map(([category, posts]) => (
      <div class={styles.list_section}>
        <h2 class={styles.section_title}>
          {category.charAt(0).toUpperCase() + category.slice(1)}
        </h2>
        <ul class={styles.list} id={`demos-list-${category}`}>
          {posts.map((post) => (
            <li>
              <a href={`${base}/demos/${post.id}`}>
                <DemosCard
                  heroImage={post.data.heroImage}
                  title={post.data.title}
                />
              </a>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
