---
import styles from "./_page.module.scss";
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import Header from "@/components/Header.astro";
import GLSLCanvas from "@/components/GLSLCanvas";
import Footer from "@/components/Footer.astro";
import { generateFragmentString } from "./_utils";
import CodeBlock from "@/components/CodeBlock.astro";

export async function getStaticPaths() {
  const posts = await getCollection("craft");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const fragmentString = await generateFragmentString(post.data.shader);
---

<Layout>
  <Header />
  <div class={styles.head_section}>
    <GLSLCanvas
      fragmentString={fragmentString}
      textures={post.data.shader?.textures}
      className={styles.canvas_container}
      client:load
    />
  </div>
  <div class={styles.container}>
    <main>
      <h1>{post.data.title}</h1>
      <p>{post.data.description}</p>
      <CodeBlock codeString={fragmentString} />
      <article class="prose">
        <Content />
      </article>
    </main>
  </div>
  <Footer />
</Layout>
